{{ form_start(form, { 'attr': {
    'action' : path('movie_save_data'),
    'class': 'form-inline my-2 my-lg-0',
    'style' : 'margin-right: 27px'
}}) }}
    {{ form_widget(form.movie, {
        'attr': {'class': 'form-control'}
    }) }}

    {{ form_widget(form.season, {
        'attr': {'class': 'form-control'}
    }) }}

    {{ form_widget(form.episode, {
        'attr': {'class': 'form-control'}
    }) }}

    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Submit</button>

{{ form_end(form) }}