{% extends 'base.html.twig' %}
{% block body %}

    <h1 class="page-header text-center">Create translation</h1>

    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-md-6 col-md-offset-3">
                {% if not form.vars.valid %}
                    <div class="alert alert-danger">

                        {% for child in form.children %}
                            {%for error in child.vars.errors%}
                                {{error.message}}
                            {%endfor%}
                        {%endfor%}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container-fluid" style="margin-top: 25px;">
        <div class="row text-center">
            <div class="col-md-12">
                {{ form_start(form, { 'attr': {'class': 'form-inline'}}) }}

                    {{ form_widget(form.name, {
                        'attr': {
                            'class': 'form-control mb-2 mr-sm-2',
                            'placeholder': 'Word',
                            'value': app.request.get('word')
                        }
                    }) }}

                    {{ form_widget(form.translation, {
                        'attr': {
                            'class': 'form-control',
                            'placeholder': 'Translation'
                        }
                    }) }}

                    <button type="submit" class="btn btn-primary mb-2">Submit</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}