{% extends 'base.html.twig' %}
{% block body %}

    <h1 class="page-header text-center">Welcome to vocabulary!</h1>

    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-md-6 col-md-offset-3">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                {% if not form.vars.valid %}
                    <div class="alert alert-danger">

                        {% for child in form.children %}
                            {%for error in child.vars.errors%}
                                {{error.message}}
                            {%endfor%}
                        {%endfor%} <hr>


                        {% if matchedWords is not empty %}
                            {% for word in matchedWords %}
                                {{ word.name }} - {{ word.translation }} <br>
                            {%endfor%}
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>



    <div class="container-fluid" style="margin-top: 25px;">
        <div class="row text-center">
            <div class="col-md-12">
                {{ form_start(form, { 'attr': {'class': 'form-inline'}}) }}
                    <div class="form-group">
                        {{ form_widget(form.name, {
                            'attr': {
                                'class': 'form-control',
                                'placeholder': 'Create a new word'
                            }
                        }) }}
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Submit</button>
                {{ form_end(form) }}

                <h3>OR</h3>

                <a href="{{ path('word_search') }}" class="btn btn-info">
                    <span class="glyphicon glyphicon-search"></span> Search
                </a>
            </div>
        </div>
    </div>


    <div class="container">
        <h2>Last words from the movie</h2>
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>Word</th>
                <th>Translation</th>
                <th>Movie</th>
                <th>Season</th>
                <th>Episode</th>
            </tr>
            </thead>
            <tbody>

            {% for wordItem in lastWords %}
                <tr>
                    <td>{{ wordItem.word }}</td>
                    <td>{{ wordItem.translation }}</td>
                    <td>{{ wordItem.movie }}</td>
                    <td>{{ wordItem.season }}</td>
                    <td>{{ wordItem.episode }}</td>
                </tr>
            {%endfor%}
            </tbody>
        </table>
    </div>

{% endblock %}