{% extends 'base.html.twig' %}
{% block body %}

    <h1 class="page-header text-center">Quick and easy search</h1>


    <div class="container">
        <div class="row">
            <div class="col-md-6">
                {{ form_start(form) }}
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{ form_widget(form.name, {
                                'attr': {
                                    'class': 'form-control',
                                    'placeholder': 'Word',
                                }
                            }) }}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form_widget(form.translation, {
                                'attr': {
                                    'class': 'form-control',
                                    'placeholder': 'Translation',
                                }
                            }) }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{ form_widget(form.movie, {
                                'attr': {'class': 'form-control'}
                            }) }}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form_widget(form.season, {
                                'attr': {'class': 'form-control'}
                            }) }}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form_widget(form.episode, {
                                'attr': {'class': 'form-control'}
                            }) }}
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <button type="submit" class="btn btn-primary form-control">Search</button>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>




    <div class="container">
        <h2>Last words from the movie</h2>
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>Word</th>
                <th>Translation</th>
                <th>Movie</th>
                <th>Season</th>
                <th>Episode</th>
            </tr>
            </thead>
            <tbody>
            {% for word in words %}
                <tr>
                    <td>{{ word.name }}</td>
                    <td>{{ word.translation }}</td>
                    <td>{{ word.movie }}</td>
                    <td>{{ word.season }}</td>
                    <td>{{ word.episode }}</td>
                </tr>
            {%endfor%}
            </tbody>
        </table>
    </div>

{% endblock %}