
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Vocabulary!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/fontawesome/css/font-awesome.min.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<header class="header">
    <a href="{{ path('words_index') }}">
        <img class="logo-icon" src="{{ asset('images/logo.png') }}">
    </a>
    <h1 class="logo">Vocabulary</h1>
    <ul class="navi">
        <li>
            {% if app.request.get('_route') != 'word_search' %}
                {{ render(controller('App\\Controller\\MovieController::actionSaveData')) }}
            {% endif %}
        </li>
    </ul>
</header>

<div class="main-content">
    {% block body %}{% endblock %}
</div>

{% block javascripts %}
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
{% endblock %}
</body>
</html>